extends layout

block content
    div.row
        div.col-md-4
            h2 Desktop Applications
            p I have been part of development of many desktop applications including Adobe Reader, SendNow Plugin. I have primarily developed in C++.
            p
                a.btn.btn-default(href="/portfolio", role="button") View Details

        div.col-md-4
            h2 Web Applications
            p I am a full stack web devloper and few of my works include Acrobat.com, SchoolMitra.com. I am quite comfortable with Django and MEAN framework.
            p
                a.btn.btn-default(href="/portfolio", role="button") View Details


        div.col-md-4
            h2 Tech Blogging
            p I run a programming blog aimed at providing useful tutorials for the latest development technologies such as AngularJS, Ionic Framework, and NodeJS.
            p
                a.btn.btn-default(href="/portfolio", role="button") View Details

    hr

    div.row.featurette
        div.col-md-12
            h2 Who Am I
            p.lead I am a full stack developer. I love playing chess, table-tennis, baddy and any other game in my leisure time. So you may say, I am sporty.

            p.lead I love doing technical things, playing with Javascript. I try out new technologies and write about them.

    hr.featurette-divider

    div.row.featurette
        div.col-md-8
            h2 What I do... 
                span.text-muted for living
  
            p.lead I'm Computer Scientist at Adobe Systems Pvt Ltd. India. The core of my work is adding new features to Adobe Reader and Acrobat. I also add features to Acrobat.com.

        div.col-md-4
            img.img-thumbnail(src="images/adb-logo.png", alt="Adobe Systems")


    hr

    div.row.featurette
        div.col-md-4
            img.img-thumbnail(src="images/codeicon.png", alt="Adobe Systems")

        div.col-md-8
            h2 What I do... 
                span.text-muted by interest

            p.lead On the side, I develop web applications. I learn about new JavaScript frameworks and Web Stacks. I sometimes compete on TopCoder.

            p.lead Recently, I started blogging about all the things that I learn. I've found it not only as a great way to document my work, but also a great way share my knowledge with others.

