extends layout

block content
	div.row
		div.col-md-9
			h4 Work Experience
			div.row
				div.col-xs-8.col-md-9
					p
						strong Developer Advocate
						br
						em SchoolMitra.com
				div.col-xs-4.col-md-3
					span.pull-right 2014-Current
			
			div.row
				div.col-xs-8.col-md-9
					p
						strong Computer Scientist
						br
						em Adobe Systems Pvt Ltd.
				div.col-xs-4.col-md-3
					span.pull-right 2015-Current

			div.row
				div.col-md-12
					ul(style="padding-left:15px")
						li Integrated CEF framework in Reader and build a bridge for exposing C++ functions to JS functions. Later on we integrated services of Acrobat.com in Reader using CEF and JS bridge.

						li Presently working on automation framework to automate all the workflows in Reader.


			div.row
				div.col-xs-8.col-md-9
					p
						strong Member of Technical Staff II
						br
						em Adobe Systems Pvt Ltd.
				div.col-xs-4.col-md-3
					span.pull-right 2013-2015

			div.row
				div.col-md-12
					ul(style="padding-left:15px")
						li Worked on a cloud based web application which allows user to do real time shared commenting over the documents on both web and PDF. (Python, Javascript)
						
						li Worked on Integration of Blueheron (Adobe Content Repository) with Adobe Reader which gave functionality to save and read files from online repository through Reader itself. (C++, ActionScript)

			div.row
				div.col-xs-8.col-md-9
					p
						strong Member of Technical Staff I
						br
						em Adobe Systems Pvt Ltd.
				div.col-xs-4.col-md-3
					span.pull-right 2011-2013

			div.row
				div.col-md-12
					ul(style="padding-left:15px")
						li Owner of In Product Messaging (IPM) Feature in Adobe Reader through which advertisements are displayed in Reader which can be dynamically controlled through server without any client side changes
						in Reader code. (C++)

						li Developed an Outlook plugin to send large files using Adobe Send and Track service. I also developed installer for the same using InstallShield.

			div.row
				div.col-xs-8.col-md-9
					p
						strong Intern
						br
						em Viz Experts
				div.col-xs-4.col-md-3
					span.pull-right 2010-2010

			div.row
				div.col-md-12
					ul(style="padding-left:15px")
						li Developed an application which grabs frames from multiple sources and displays them on a single screen. The sources can be controlled externally through the UI provided. New Sources can be connected by specifying IP Addresses. Languages and Libraries Used: C++, OpenGL

						li Performance profiling of CPU and GPU was done by porting some functions of the standard libraries (OpenCV & Bullet Physics) on GPU using OpenCL. The result was accepted by AMD and displayed on their site. Languages and Libraries Used: C++, OpenCL, OpenCV, Bullet Physics, OpenGL

			h4 Patents
			div.row
				div.col-md-12
					ul(style="padding-left:15px")
						li A cloud based framework to control delivery, distribution, message-viewing experience and user migration on distribution change of in-product messages for an application (United States 13/946255)

						li A mechanism to increase click through rates of IPM messages in Adobe Reader for an individual on basis of user’s past message interaction. (In pipeline)

						li System and mechanism to view track and edit form-fields imported from different documents of varied formats to improve form-consumption productivity. (In pipeline)

			h4 Education
			div.row
				div.col-xs-8.col-md-9
					p
						strong Indian Institute of Technology, BHU
						br
						em B.Tech in Electronics and Communication Engineering
				div.col-xs-4.col-md-3
					span.pull-right 2007-2011


		div.col-md-3
			div.panel.panel-primary
				div.panel-heading.skills
					h4 Skills
				div.panel-body
					h5
						strong Programming
					h5 HTML
					div.progress
						div.progress-bar.progress-bar-success(role="progressbar", style="width:100%")
					h5 CSS
					div.progress
						div.progress-bar.progress-bar-success(role="progressbar", style="width:80%")
					h5 JavaScript
					div.progress
						div.progress-bar.progress-bar-success(role="progressbar", style="width:90%")
					h5 C++
					div.progress
						div.progress-bar.progress-bar-success(role="progressbar", style="width:80%")
					h5 BackboneJS
					div.progress
						div.progress-bar.progress-bar-success(role="progressbar", style="width:90%")
					h5 Python
					div.progress
						div.progress-bar.progress-bar-success(role="progressbar", style="width:70%")
					h5 MEAN
					div.progress
						div.progress-bar.progress-bar-success(role="progressbar", style="width:60%")

					hr

					h5
						storng Operating Systems
					h5 Windows
					div.progress
						div.progress-bar.progress-bar-success(role="progressbar", style="width:90%")
					h5 Mac OSX
					div.progress
						div.progress-bar.progress-bar-success(role="progressbar", style="width:80%")

					hr

					h5
						strong Other Technical
					h5 Git
					div.progress
						div.progress-bar.progress-bar-success(role="progressbar", style="width:80%")

					h5 Perforce
					div.progress
						div.progress-bar.progress-bar-success(role="progressbar", style="width:80%")

					h5 Visual Studio
					div.progress
						div.progress-bar.progress-bar-success(role="progressbar", style="width:90%")

					h5 XCode
					div.progress
						div.progress-bar.progress-bar-success(role="progressbar", style="width:70%")
